---
Language: Cpp
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: GNU
ColumnLimit: 100
IndentWidth: 2
UseTab: Never
SortIncludes: false